mat-toolbar {
    background-color: #1976d2;
    display: inline-flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

h1 {
    color: #fff;
    cursor: pointer;
    font-size: xx-large;
    margin-right: 100px;
}

h1:hover {
    color: #e2e4e6;
} 

button {
    background-color: #fff;
    color: #1976d2 ;
    border: none;
    border-radius: 0;
}

